@media (min-width: 32.5em) {

main,header,footer {
    max-width:700px
}

h1 {
    font-size:4em; 
    padding:20px; 
}
h2 {
    font-size:3em;
    padding:20px;
}

img{
    width:250px;
    padding:20px;
}

ul {
    justify-items:none;
}

}