main,header,footer {
    margin-left:auto;
    margin-right:auto;
}

h1,h2 {
    font-family:'Laila', sans-serif;
}

p,li{
    font-family:'verdana',serif;
}

header {
    display:grid;
    height:250px;
    background-color:purple;
    gap:20px;
    grid-template-columns:250px 30%;
}

img {
    grid-column-start:1;
    grid-column-end:2;
    padding:20px;
    width:200px;
    margin:auto;
}

h1{
    grid-column:2/4;
    color:white;
    margin:auto;
    font-size:2.2em;  
}

main{
    background-color:#f5e1fd;  
}

h2{

    font-size:1.5em;
    text-align:center;
}

ul{
    display:grid;
    grid-template-rows:repeat(10,50px);
    font-size:20px;
    justify-items:center;
}

footer {
    display:grid;
    background-color:purple;
    text-align:center;
    height:100px;
}

p {
    margin:auto;
    color:white;
    
}