header {
    display:grid;
    column-gap: 50px;
    background-color:purple;
}

img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:50px;
    align-items:center;
}

main{
    background-color:#f5e1fd;
}