main,header,footer {
    max-width:700px;
    margin-left:auto;
    margin-right:auto;
}

h1,h2 {
    font-family:'Helvetica',sans-serif;
}

p,li{
    font-family:'verdana',serif;
}

header {
    display:grid;
    height:250px;
    background-color:purple;
    gap:20px;
    grid-template-columns:250px 30%;
}

img {
    grid-column-start:1;
    grid-column-end:2;
    padding:20px;
    width:250px;
}

h1{
    grid-column-start:2;
    grid-column-end:3;
    color:white;
    margin:auto;
    padding:20px;   
}

main{
    background-color:#f5e1fd;  
}

h2{
    padding:20px;
}

ul{
    display:grid;
    grid-template-rows:repeat(10,50px);
}

footer {
    display:grid;
    background-color:purple;
    text-align:center;
    height:100px;
}

p {
    margin:auto;
    color:white;
    
}