header {
    display:grid;
    height:250px;
    background-color:purple;
    gap:20px;
    grid-template-columns:250px 1fr;
}

img {
    grid-column-start:1;
    grid-column-end:2;
    padding:20px;
    width:250px;
}

h1{
    grid-column-start:2;
    grid-column-end:3;
    margin:auto;   
}

main{
    background-color:#f5e1fd;  
}

ul{
    display:grid;
    row-gap:20px;
    grid-template-columns:repeat(10,20px);
}

footer {
    display:grid;
    background-color:purple;
    text-align:center;
    height:100px;
}

p {
    margin:auto;
}