@media only screen and (min-width: 70rem ){
    main {
		display: flex;
		max-width: 80em;
    	justify-content: center
	}


	main section:nth-child(1) {
		grid-row: 1;
		grid-column:1/2;

	}
	main section:nth-child(2) {
		grid-row:1;
		grid-column:2/3;

	}
	
	main section:nth-child(3) {
		grid-row: 1;
		grid-column:3/4;
	}

	.apple{
		width:300px;
	}

}

