body {
    background-color:orange;
}

h1,h2,h3,h4 {
    font-family: 'Libre Baskerville', serif;
}

p{
    font-family: 'Libre Franklin', sans-serif;
}

header{
    display:grid;
    background-color:yellow;
    gap:20px;
} 

h1,h2{
    text-align:center;
    margin:auto;
    }

main{
    display:grid;
}

img {
    max-width:80%;
    margin:auto;
}