body{
    background-color:skyblue;
    justify-content: center;
    align-content: center;
    margin: auto;
    font-size: 1.12rem;
}

img{
    width:3.5em;
}

main {
    justify-content: center;
    align-content: center;
    margin: auto;
    text-align: center;
    padding: 10px;
}

h1,h2,h3,h4{
font-family: 'Joan', serif;
}

main p, figcaption{
    font-family: 'Inter', sans-serif;
}

main figcaption{
    text-transform:capitalize;
}

section{
    justify-items: center;
    align-items: center;
    border: solid 3px black;
    margin: auto;
    padding: 10px;
    min-width:10em;
    width: 40%;
    max-width: 20em;
    background-color: aliceblue;
}

/* figure{
    border: solid 2px black;
    padding: 10px;
    margin: auto;
    width: 5em;
    height: auto;
} */