header {
    background-color: #2C3546;
    font-family:'Roboto', sans-serif;
    color: white;
    padding:10px;
    
}

#head-logo {
    width:4rem;
}

#flexing {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
}


button{
    width:2rem;
    height:2rem;

    }

#facebook, #linkedin{
    width: 1.5rem;
}

#date_decoration {
    padding: 15px;
    line-height: 20px;
    background-color: white;
    text-align: center;
    color:#2C3546;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: white;
}

nav ul li a {
    text-align: center;
    display: block;
    text-decoration: none;
    font-family:'Roboto', sans-serif;
    padding:.8rem 2vw;
    color:black;
    border: 1px solid #2C3546;
}

nav ul li a:hover { background-color: #FFD600;}

nav ul{display: none;}
nav ul.open {display: block;}

#hamburguerBtn span:nth-child(1) {display: block;}
#hamburguerBtn span:nth-child(2) {display: none;}
#hamburguerBtn.open span:nth-child(1) {display: none;}
#hamburguerBtn.open span:nth-child(2) {display: block;}

h1,h2,h3,h4 {
    color: white;
    font-family:'Archivo', sans-serif;
}

main {
    display: grid;
    margin:20px;
    gap:20px;
    margin-left: auto;
    margin-right: auto;
}

.hero,.event,.weather,.news,.main-s,.join{
    border: 1px solid black;
    padding: 7rem;
    background:#2C3546;
}

.main-s {
    border: 1px solid black;
    display: grid;
    padding: 2rem;
}

.main-s .spotlight1,.spotlight2,.spotlight3 {
    border: 1px solid black;
    padding: 5rem;
}
.join {
    display: none;
}

.spotlight3 {
    display: none;
}

footer {
    padding:20px;
    background-color: #2C3546;
    text-align: center;
}
.foot-logo {
    margin: auto;
    width: 9rem;
}

footer p , a {
    text-decoration: none;
    font-family:'Roboto', sans-serif;
    color: white;
    }
    
    
.true-footer {
    border-top:1px solid  white;
    padding:15px;

}
