header {
    background-color: #2C3546;
    font-family:'Roboto', sans-serif;
    color: white;
}

/*
h1,h2,h3,h4 {
    color: white;
    font-family:'Archivo', sans-serif;
}
*/

#head-logo {
    width:7rem;
}

#foot-logo {
    width:9rem;
}
#facebook, #linkedin{
    width: 2rem;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    font-family:'Roboto', sans-serif;
    padding:.8rem 2vw;
    border-top: 1px solid #2C3546;
}

nav ul li a:hover { background-color: #FFD600;}
nav ul{display: none;}
nav ul.open {display: block;}
.hamburguertn span:nth-child(1) {display: block;}
.hamburguertn span:nth-child(2) {display: none;}
.hamburguertn.open span:nth-child(1) {display: none;}
.hamburguertn.open span:nth-child(2) {display: block;}

main p:nth-child(1) {
    text-align: center;
    background-color: #FFD600;
}






footer {
    background-color: #2C3546;
    text-align: center;
}

footer p , a {
    text-decoration: none;
    font-family:'Roboto', sans-serif;
    color: white;
}
