header {
    background-color: #2C3546;
    padding:10px; 
    margin-top:-8px;
}

main{
    padding:15px;
    display:flex;
    flex-direction:column;
    gap:20px;
}

h1,h2,h3,h4,h5 {
    font-family:'Archivo', sans-serif;
    color:white;
}

p,a {
    font-family:'Roboto', sans-serif;
    color:white;
}

#head-logo {
    width:4rem;
}

#flexing {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
}

button{
    width:2rem;
    height:2rem;
    }

#facebook, #linkedin{
    width: 1.5rem;
}

#date_decoration {
    padding: 15px;
    line-height: 20px;
    background-color: white;
    text-align: center;
    color:#2C3546;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: white;
    margin-bottom: 20px;
}

nav ul li a {
    text-align: center;
    display: block;
    text-decoration: none;
    font-family:'Roboto', sans-serif;
    padding:.8rem 2vw;
    color:black;
    border: 1px solid #2C3546;
    
}

nav ul li a:hover { background-color: #FFD600;}

nav ul{display: none;}
nav ul.open {display: block;}

#hamburguerBtn span:nth-child(1) {display: block;}
#hamburguerBtn span:nth-child(2) {display: none;}
#hamburguerBtn.open span:nth-child(1) {display: none;}
#hamburguerBtn.open span:nth-child(2) {display: block;}

.hero picture {
    margin-top:20px;
    max-width: 100%;
    height:auto;
    position: relative;
    text-align:center;
}
.hero{
    position: relative;
}

#banner{
    padding: 50px;
    background-color:black;
    color: white;
    text-align: center;
    color:#2C3546;
    margin-bottom:-20px;
}

#welcome-title {
    position: absolute;
    text-align: left;
    color: black;
    top: 1rem;
    left:20px;
}

.joinbutton {
    bottom:1px;
    right:2rem;
	position: absolute;
    border: 1px solid black;
    background:#2C3546;
    padding:10px;
}

.joinbutton a:hover{
    color: #FFD600;

}
.event,.weather,.news,.main-s,.join{
    border: 1px solid black;
    background:#2C3546;
    justify-content: center;
}

.weather {
    text-align: center;
    align-content:center;
    justify-content:center;
}
.weather img {
    width:150px;
}

.news,.event, .join{
    padding:1em;
}

.main-s {
    border: 1px solid black;
    display: grid;
    padding: 20px;
    align-content:center;
    justify-content:center;
}

.main-s .spotlight1,.spotlight2,.spotlight3 {
    border: 1px solid black;
    text-align: center;
}

.spotlight1,.spotlight2 {
    padding: 1rem;
}

.spotlight1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.spotlight1 img {
    width:150px;
    display: block;
    margin: auto;
}

.spotlight2 img {
    width:150px;
}

.join {
    display: none;
}

.spotlight3 {
    display: none;
}

footer {
    padding:20px;
    background-color: #2C3546;
    text-align: center;
    margin-top: 1px;
    margin-bottom: -8px;
}
.foot-logo {
    margin: auto;
    width: 9rem;
}

footer p , a {
    text-decoration: none;
    font-family:'Roboto', sans-serif;
    color: white;
    }
    
    
.true-footer {
    border-top:1px solid  white;
    padding:15px;
}

p a:hover { color: #FFD600;} 

#rio {
    height: 100%;
    width: 100%;
    object-fit:cover;
}

#places {
    display: none;
}

article {
    background-color:#2C3546;
}

article img {
    display: block;
    margin: auto;
}

.demo {
    color: black;
}

picture img[data-src] {
    filter: blur(0.2em);
  }
  
picture img {
    filter: blur(0em);
    transition: filter 0.5s;
  }