/* Main page */
header {
    background-color: #2C3546;
    padding:10px; 
    margin-top:-8px;
    min-width:350px;
    align-content: center;
    margin: auto;
}

main{
    margin-left: 20px; 
    margin-right: 20px; 
    margin-bottom: 20px; 
}

#home-grid{
    display:grid;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    min-height: 270px;
    gap:20px;
}

h1,h2,h3,h4,h5 {
    font-family:'Archivo', sans-serif;
    color:white;
    text-align: center;
}

p,a {
    font-family:'Roboto', sans-serif;
    text-decoration: none;
    color:white;
}

a:hover {
    text-decoration: underline;
    color:#FFD600;
}

#head-logo {
    width:5rem;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.logo-nf{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo-nf h3{
    text-align:left;
}

#icons{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
}

button{
    width:2.1rem;
    height:2.1rem;
    margin-top: -2px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    }

button p{
    margin: auto;    
    text-align: center;
    }

#facebook, #linkedin{
    width: 2rem;
}

#date_decoration {
    padding: 15px;
    background-color: white;
    text-align: center;
    color:#2C3546;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: white;
}

nav ul li a {
    text-align: center;
    display: block;
    text-decoration: none;
    padding:.8rem 2vw;
    color:#2C3546;
    border: 1px solid #2C3546;
}

nav ul li.active a { background-color: goldenrod; color: white;}

nav ul li a:hover { background-color: #FFD600; color: #2C3546;text-decoration: none;}

nav ul{display: none;}
nav ul.open {display: block;}

.hamburguerBtn span:nth-child(1) {display: block;}
.hamburguerBtn span:nth-child(2) {display: none;}
.hamburguerBtn.open span:nth-child(1) {display: none;}
.hamburguerBtn.open span:nth-child(2) {display: block;}

.hero picture {
    position: relative;
    text-align:center;
}

#rio {
    height: 100%;
    width: 100%;
    object-fit:cover;
}

.hero{
    position: relative;
    grid-row: 2/3;
}

#banner{
    grid-row: 1/2;
    font-size: .8rem;
    background-color:black;
    color: white;
    /* text-align: center; */
    margin-bottom:-19px;
    padding: 10px;
    overflow-wrap: break-word;
    word-break:keep-all;
}

#welcome-title {
    position: absolute;
    text-align: left;
    color: white;
    top:.1px;
    left:20px;
    text-shadow: 2px 2px 5px #2C3546;
}

.hero h2 a{
    position: absolute;
    display: block;
    border: 1px solid #2C3546;
    text-align: center;
    background:goldenrod;
    border-radius: 15px;
    text-decoration: none;
    padding:10px;
    bottom:40px;
    right:1rem;
    overflow-wrap: break-word;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 5px #2C3546;
    text-shadow: 2px 2px 5px #2C3546;
}

.hero h2 a:hover{
    background-color: #FFD600;
}

.event{
    grid-row: 3/4;
}

.event,.weather,.news,.main-s,.join{
    border: 1px solid #2C3546;
    background-color:#2C3546;
}
.weather {
    text-transform: capitalize;
    text-align: center;
    grid-row: 4/5;
}

.weather-grid{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    border-top:solid 1px white ;
    overflow-wrap: break-word;
    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#weatherBtn{
    display: flex;
    align-content: center;
    justify-content: center;
    gap:20px;
    padding: 20px;
}

#weatherBtn button{
    width: 2.5rem;
    height: 2.5rem;
}

.weather img {
    width:25%;
    background-color:rgba(255, 255, 255, 0.87);
}

.news,.event, .join{
    padding:10px;
}
.news{
    grid-row: 5/6;
}
.main-s {
    grid-row:6/7;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content:space-evenly;
    align-content:center;
    gap: 20px;
}

.main-s .spotlight1,.spotlight2,.spotlight3 {
    border: 1px solid white;
    text-align: center;
    align-items:center;
    overflow-wrap: break-word;
    word-break: keep-all;
}

.spotlight1,.spotlight2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    align-content:center;
}

.spotlight1 img {
    width:150px;
}

.spotlight2 img {
    width:150px;
}

.join {
    display: none;
}

.spotlight3 {
    display: none;
}

footer {
    padding:10px;
    background-color: #2C3546;
    text-align: center;
    margin-bottom: -8px;
    min-width:350px;
}

footer h3{
    text-align: center;
}

.foot-logo {
    margin: auto;
    width: inherit;
}
    
.true-footer {
    border-top:1px solid white;
    padding:10px;
}

p a:hover { color: #FFD600;}

/*CSS for Discover Page*/
#discover-grid{
    display: grid;
    gap: 20px;
    align-content: center;
    justify-content:center;
}

#places {
    display: none;
}

#demographics h1{
    text-align: center;
}

#demographics{
    display:flex;
    flex-direction:column;
    gap:20px;
    justify-content: center;
    
}

#demographics section {
    background-color:#2C3546;
    padding: 10px;
    height: 100%;
}

#demographics section:nth-child(4) ul {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#demographics section:nth-child(4) li {
    font-family:'Roboto', sans-serif;
    color: white;
    padding:10px;
}
#places img {
    display: block;
    margin: auto;
    width: 100%;
    object-fit:cover;
    width: auto;
}    

#demographics img {
    display: block;
    margin: auto;
    width:100%;
    object-fit:cover;
} 

.demo {
    color:#2C3546;
}

picture img[data-src] {
    filter: blur(0.2em);
  }
  
picture img {
    filter: blur(0em);
    transition: filter 0.5s;
  }

  #visit-section{
    display: flex;
    flex-direction: column;
  }
  section#visit-section h3:nth-child(1){
    text-align:center;
  }
  section#visit-section h3{
    text-align:left;
  }

  /*CSS for Join Page*/
  #form-grid{
    display: flex;
    flex-direction:column-reverse;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    gap: 20px;
}

form fieldset {
    margin-top: 20px;
    margin-bottom: 20px;
    border:1px solid #2C3546 ;
    border-radius: 10px;
    padding: .5rem 2%;
    font-size: 1.1rem;
}

form h1{
    color: #2C3546;
    text-align: center;
}

form legend{
    color:#2C3546;
    margin:0 1rem;
    padding: 0 0.5rem;
    font-family:'Roboto', sans-serif;
}

form label.top, form div{
    display: block;
    padding: .5rem;
    color:#2C3546;
}

textarea{
    width: 90%;
    padding: .75rem;
    margin: auto;
}

form label.top input, form label.top select{
    -webkit-appearance:none; 
    display: block;
    font-size: 1rem;
    border:solid 1px #2C3546;
    border-radius:4px;
    padding: .75rem;
    color:#2c3546;
    width:91%;
    background-color: rgba(255, 255, 255, 0.1);
    
}

form label {
    font-family:'Roboto', sans-serif;
    cursor: pointer;
}

form label.member{
    display: block;
    padding: .75rem 0;
    color:#2C3546;
}

.centerBTN{
    display: flex;
    justify-content:center;
    align-content: center;
}

form input#chamber-submit{
    text-align: center;
    padding:15px;
    width: 50%;
    border: none;
    color: white;
    font-family:'Roboto', sans-serif;
    background-color:#2C3546;
    cursor: pointer;
}

form input#chamber-submit:hover{
    background-color: #45526b;
}

#benefits{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
}

#benefits h1{
    text-align: center;
    color: #2C3546;
}

#benefits h2{
    color: #FFD600;
    text-align:left;
}

#benefits h3{
    text-align:left;
}

#benefits section:nth-child(2){
    margin-top:10px;
}

#benefits section{
    background-color: #2C3546;
    padding: 10px;
    
}

#benefits section ul{
    display: flex;
    flex-direction: column;
    gap:10px;
    color: white;
    font-family:'Roboto', sans-serif;
    max-width:90%;
    overflow-wrap: break-word;
    text-align: left;
    word-break: normal;
    font-size: 1rem;
}

.thanks{
    display: flex;
    margin-top:2.5rem;
    margin-bottom: 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px;
  }

form label.top input:invalid{
    border: #FFD600 solid 2px;
}

.thanks h1{
    color: #2C3546;
    text-align: center;
}

.thanks p{
    color: #2C3546;
    text-align: center;
    font-size: 1.5rem;
}

/*Directory CSS*/

#directory-grid{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
    gap: 20px;
}
#directory-grid h1{
    margin-bottom:0px;
}

#directory-name{
    color: #2C3546;
    text-align: center;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 20px;
}

.contacts img{
    width: 60%;
}

.contacts section{
    padding:10px;
    border:1px solid #2C3546;
    background-color: #2C3546;
    font-size: 1.2rem;
    overflow-wrap: break-word;
    word-break: normal;
} 

.buttons{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 16px;
}
.buttons button{
    width: 1.5em;
    height:1.5em;
    font-size: 2rem;
    text-align: center;
}

/* List view*/
.list {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    text-align: left;
}

.list section {
    padding: 1rem;
}

.list section:nth-child(odd) {
	background-color:#2C3546;
}

.list section:nth-child(even) {
	border: 3px solid #2C3546;
    background-color: white;
}

.list section:nth-child(even) p {
    color: #2C3546;
}

.list section:nth-child(even) h2 {
    color: #2C3546;
}

.list section:nth-child(even) a {
    color: #2C3546;
}

.list section:nth-child(even) a:hover {
    color:#FFD600;
}

.list section img {
	display: none;
}  

.list section p:nth-child(3){
    display: none;
}
.list section p:nth-child(4){
    display: none;
}

/* Contact page*/
#contact-menu{
    display: flex;
    flex-direction:column;
    gap: 20px;
    justify-content: center; 
    align-content: center;
    margin-top: 20px;
    margin-left:0px;
    margin-right: 0px;
}

#contact-info, #office{
    border:1px solid #2C3546;
    background-color: #2C3546;
    padding:10px;
    text-align: center;
}

#office{   
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 10px;
    grid-template-areas:"h h h h"
                        "a a b b"
                        "a a b b"
                        "c c d d"
                        "c c d d"
                        "e e f f"
                        "e e f f"
                        ". g g ."
                        ". g g .";

}

#office h2{
    grid-area:h;
}
#day1{
grid-area:a;
}
#day2{
   grid-area:b; 
}
#day3{
grid-area:c;    
}
#day4{
grid-area:d;    
}
#day5{
grid-area:e;   
}
#day6{
grid-area:f;    
}
#day7{
 grid-area:g;   
}

form input#submit-contact{
    text-align: center;
    padding:15px;
    width: 50%;
    border: none;
    color: white;
    font-family:'Roboto', sans-serif;
    background-color:#2C3546;
    cursor: pointer;
}
form input#submit-contact:hover{
    background-color: #45526b;
}

form textarea:invalid{
    border: #FFD600 solid 2px;
}

#form2 h2{
    color: #2C3546;
}