/* Main page */
header {
    background-color: #2C3546;
    padding:10px; 
    margin-top:-8px;
    min-width:350px;
    align-content: center;
    margin: auto;
}

main{
    margin: 20px;
    display:grid;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    /* min-width:350px; */
    min-height: 270px;
    gap:20px;
    
}

h1,h2,h3,h4,h5 {
    font-family:'Archivo', sans-serif;
    color:white;
}

p,a {
    font-family:'Roboto', sans-serif;
    color:white;
}

#head-logo {
    width:5rem;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    gap: 20px;
}

.logo-nf{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 10px;
}

#icons{
    display: flex;
    align-content: center;
    gap: 10px;
    grid-column: 2/3;
}

button{
    width:2.2rem;
    height:2.2rem;
    cursor: pointer;
    text-align: center;
    }

button p{
    margin: auto;    
    }

#facebook, #linkedin{
    width: 2rem;
}

#date_decoration {
    padding: 15px;
    line-height: 20px;
    background-color: white;
    text-align: center;
    color:#2C3546;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: white;
    margin-bottom: 20px;
}

nav ul li a {
    text-align: center;
    display: block;
    text-decoration: none;
    font-family:'Roboto', sans-serif;
    padding:.8rem 2vw;
    color:black;
    border: 1px solid #2C3546;
    
}

nav ul li.active a { background-color: goldenrod; color: white;}

nav ul li a:hover { background-color: #FFD600;}

nav ul{display: none;}
nav ul.open {display: block;}

#hamburguerBtn span:nth-child(1) {display: block;}
#hamburguerBtn span:nth-child(2) {display: none;}
#hamburguerBtn.open span:nth-child(1) {display: none;}
#hamburguerBtn.open span:nth-child(2) {display: block;}

.hero picture {
    margin-top:20px;
    position: relative;
    text-align:center;
}

#rio {
    height: 100%;
    width: 100%;
    object-fit:cover;
}

.hero{
    position: relative;
    grid-row: 2/3;
}

#banner{
    grid-row: 1/2;
    font-size: .8rem;
    background-color:black;
    color: white;
    text-align: center;
    margin-bottom:-12px;
}

#welcome-title {
    position: absolute;
    text-align: left;
    color: white;
    top:.1px;
    left:20px;
}

.hero h2 a{
    position: absolute;
    display: block;
    border: 1px solid black;
    text-align: center;
    background:goldenrod;
    border-radius: 15px;
    padding:12px;
    bottom:40px;
    right:1rem;
}

.hero h2 a:hover{
    background-color: #FFD600;
}

.event{
    grid-row: 3/4;
}

.event,.weather,.news,.main-s,.join{
    border: 1px solid black;
    background:#2C3546;
    justify-content: center;
}
.weather {
    text-transform: capitalize;
    text-align: center;
    grid-row: 4/5;
}

.weather-grid{
    display: flex;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
    align-content: center;
    border-top:solid 1px white ;
    margin: 20px;
}

.weather img {
    width:20%;
    border: 1px solid white;
    background-color: white;
}


/* .weather {
    text-transform: capitalize;
    text-align: center;
    padding: 1rem;
    grid-row: 4/5;
}

.weather-flex{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.weather-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    border-top:solid 1px white ;
}

.weather img {
    width:30%;
    grid-column:1/3;
    grid-row: 2/3;
}

.weather #temperature{
    grid-column: 3/4;
    grid-row: 2/3;
} */

.news,.event, .join{
    padding:1em;
}
.news{
    grid-row: 5/6;
}
.main-s {
    grid-row:6/7;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    align-content:center;
    justify-content:space-evenly;
    gap: 1rem;
}

.main-s .spotlight1,.spotlight2,.spotlight3 {
    border: 1px solid white;
    text-align: center;
}

.spotlight1,.spotlight2,.spotlight3 {
    padding: 1rem;
}

.spotlight1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.spotlight1 img {
    width:150px;
    display: block;
    margin: auto;
}

.spotlight2 img {
    width:150px;
}

.join {
    display: none;
}

.spotlight3 {
    display: none;
}

footer {
    padding:10px;
    background-color: #2C3546;
    text-align: center;
    margin-bottom: -8px;
    min-width:350px;
}

.foot-logo {
    margin: auto;
    width: 9rem;
}

footer p , a {
    text-decoration: none;
    font-family:'Roboto', sans-serif;
    color: white;
    }
    
.true-footer {
    border-top:1px solid white;
    padding:.5rem;
}

p a:hover { color: #FFD600;}

/*CSS for Discover Page*/
#discover-grid{
    display: grid;
    gap: 20px;
    margin:20px;
}

#places {
    display: none;
}

#demographics{
    display:flex;
    flex-direction:column;
    gap:20px;
    justify-content: center;
    
}

#demographics section {
    background-color:#2C3546;
    padding: 1rem;
    height: 100%;
}

#demographics img {
    display: block;
    margin: auto;
    width:100%;
    object-fit:cover;
} 

.demo {
    color:#2C3546;
}

picture img[data-src] {
    filter: blur(0.2em);
  }
  
picture img {
    filter: blur(0em);
    transition: filter 0.5s;
  }

  /*CSS for Join Page*/
form fieldset {
    margin: 2rem;
    border:1px solid #2C3546 ;
    border-radius: 10px;
    padding: .5rem 2%;
    font-size: 1.1rem;
    
}

form h1{
    color: #2C3546;
    text-align: center;
}

form legend{
    color:#2C3546;
    margin:0 1rem;
    padding: 0 0.5rem;
    font-family:'Roboto', sans-serif;
}

form label.top, form div{
    display: block;
    padding: .5rem;
    color:#2C3546;
    
}

textarea{
    width: 98%;
}

form label.top input, form label.top select{
    -webkit-appearance:none; 
    display: block;
    font-size: 1rem;
    border:solid 1px #2C3546;
    border-radius:4px;
    padding: .75rem;
    color:#2c3546;
    width:91%;
    background-color: rgba(255, 255, 255, 0.1);
    
}

form label.member{
    display: block;
    padding: .75rem 0;
    color:#2C3546;
}

#centerBTN{
    display: flex;
    justify-content:center;
    align-content: center;
}

form input#chamber-submit{
    text-align: center;
    padding:15px;
    width: 50%;
    border: none;
    color: white;
    font-family:'Roboto', sans-serif;
    background-color:#2C3546;
    cursor: pointer;
}
form input#chamber-submit:hover{
    background-color: #45526b;
}

#benefits{
    display: none;
}

#thanks{
    display: flex;
    margin-top:2.5rem;
    margin-bottom: 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px;
  }

form label.top input:invalid{
    border: #FFD600 solid 2px;
}

#thanks h1{
    color: #2C3546;
    text-align: center;
}

#thanks p{
    color: #2C3546;
    text-align: center;
    font-size: 1.5rem;
}

/*Directory CSS*/

#directory-grid{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#directory-name{
    color: #2C3546;
    text-align: center;
}

.contacts section{
    padding:1.2rem;
    border:1px solid #2C3546;
    background-color: #2C3546;
    margin: 1rem;
    font-size: 1.2rem;  
} 

.contacts section:nth-child(1){
    margin-top: 16px;
}

.contacts section:nth-child(9){
    margin-bottom: 16px;
}

.contacts img{
    width:60%;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 16px;
}
.buttons button{
    width: 1.5em;
    height:1.5em;
    font-size: 2rem;
}

/* List view*/
.list {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    text-align: left;
}

.list section {
    padding: 1rem;
}

.list section:nth-child(odd) {
	background-color:#2C3546;
}

.list section:nth-child(even) {
	border: 3px solid #2C3546;
    background-color: white;
}

.list section:nth-child(even) p {
    color: #2C3546;
}

.list section:nth-child(even) h2 {
    color: #2C3546;
}

.list section:nth-child(even) a {
    color: #2C3546;
}

.list section:nth-child(even) a:hover {
    color:#FFD600;
}

.list section img {
	display: none;
}  

.list section p:nth-child(3){
    display: none;
}
.list section p:nth-child(4){
    display: none;
}

/* Contact page*/
#contact-info, #office{
    border:1px solid #2C3546;
    background-color: #2C3546;
    padding: 1rem;
    text-align: center;
}

#contact-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#office{
    display: grid;
}