header {
    background-color: #2C3546;
    padding:10px; 
    margin-top:-8px;
}

main{
    padding:15px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    gap:20px;
}

h1,h2,h3,h4,h5 {
    font-family:'Archivo', sans-serif;
    color:white;
}

p,a {
    font-family:'Roboto', sans-serif;
    color:white;
}

#head-logo {
    width:4rem;
}

#flexing {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
}

button{
    width:2rem;
    height:2rem;
    }

#facebook, #linkedin{
    width: 1.5rem;
}

#date_decoration {
    padding: 15px;
    line-height: 20px;
    background-color: white;
    text-align: center;
    color:#2C3546;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: white;
    margin-bottom: 20px;
}

nav ul li a {
    text-align: center;
    display: block;
    text-decoration: none;
    font-family:'Roboto', sans-serif;
    padding:.8rem 2vw;
    color:black;
    border: 1px solid #2C3546;
    
}

nav ul li a:hover { background-color: #FFD600;}

nav ul{display: none;}
nav ul.open {display: block;}

#hamburguerBtn span:nth-child(1) {display: block;}
#hamburguerBtn span:nth-child(2) {display: none;}
#hamburguerBtn.open span:nth-child(1) {display: none;}
#hamburguerBtn.open span:nth-child(2) {display: block;}

.hero picture {
    margin-top:20px;
    position: relative;
    text-align:center;
}

#rio {
    height: 100%;
    width: 100%;
    object-fit:cover;
}

.hero{
    position: relative;
}

#banner{
    padding: 50px;
    background-color:black;
    color: white;
    text-align: center;
    color:#2C3546;
    margin-bottom:-20px;
}

#welcome-title {
    position: absolute;
    text-align: left;
    color: black;
    top:.1px;
    left:20px;
}

.joinbutton {
    bottom:1px;
    right:2rem;
	position: absolute;
    border: 1px solid black;
    background:#2C3546;
    padding:10px;
}

.joinbutton a:hover{
    color: #FFD600;

}
.event,.weather,.news,.main-s,.join{
    border: 1px solid black;
    background:#2C3546;
    justify-content: center;
}

.weather {
    text-align: center;
    align-content:center;
    justify-content:center;
}
.weather img {
    width:150px;
}

.news,.event, .join{
    padding:1em;
}

.main-s {
    border: 1px solid black;
    display: grid;
    padding: 20px;
    align-content:center;
    justify-content:center;
}

.main-s .spotlight1,.spotlight2,.spotlight3 {
    border: 1px solid black;
    text-align: center;
}

.spotlight1,.spotlight2 {
    padding: 1rem;
}

.spotlight1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.spotlight1 img {
    width:150px;
    display: block;
    margin: auto;
}

.spotlight2 img {
    width:150px;
}

.join {
    display: none;
}

.spotlight3 {
    display: none;
}

footer {
    padding:20px;
    background-color: #2C3546;
    text-align: center;
    margin-top: 1px;
    margin-bottom: -8px;
}
.foot-logo {
    margin: auto;
    width: 9rem;
}

footer p , a {
    text-decoration: none;
    font-family:'Roboto', sans-serif;
    color: white;
    }
    
.true-footer {
    border-top:1px solid  white;
    padding:15px;
}

p a:hover { color: #FFD600;} 

#places {
    display: none;
}

#demographics{
    display:flex;
    flex-direction:column;
    gap:1rem;
    
}

#demographics section {
    background-color:#2C3546;
    padding: 1rem;
    height: 100%;
}

#demographics img {
    display: block;
    margin: auto;
    width:100%;
    object-fit:cover;
} 

.demo {
    color:#2C3546;
}

picture img[data-src] {
    filter: blur(0.2em);
  }
  
picture img {
    filter: blur(0em);
    transition: filter 0.5s;
  }

  form fieldset {
    margin: 2rem;
    border:1px solid #2C3546 ;
    border-radius: 10px;
    padding: .5rem 2%;
    font-size: 1.1rem;
}

form legend{
    color:#2C3546;
    margin:0 1rem;
    padding: 0 0.5rem;
}

form label.top, form div{
    display: block;
    padding-top: 1rem;
    color:#2C3546;
    
}

form label.top input, form label.top select{
    -webkit-appearance:none; 
    display: block;
    font-size: 1rem;
    border:solid 1px #2C3546;
    border-radius:4px;
    padding: .75rem;
    color:#2c3546;
    width:90%;
    max-width: 20rem;
    background-color: rgba(255, 255, 255, 0.1);
}

form label.member{
    display: block;
    padding: .75rem 0;
    color:#2C3546;
}

#centerBTN{
    display: flex;
    justify-content:center;
    align-content: center;
}
form input#chamber-submit{
    text-align: center;
    padding:15px;
    width: 50%;
    border: none;
    color: white;
    font-family:'Roboto', sans-serif;
    background-color:#2C3546;
}

#benefits{
    display: none;
}

#thanks{
    display: flex;
    margin-top:2.5rem;
    margin-bottom: 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px;
  }

form label.top input:required{
    border:green solid 2px;
}

form label.top input:invalid{
    border: #FFD600 solid 2px;
}

#thanks h1{
    color: #2C3546;
    text-align: center;
}

#thanks p{
    color: #2C3546;
    text-align: center;
}



