@media only screen and (min-width: 64rem) {
    header button {
        display: none;
    }
    nav ul li a {
        border:none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding:.5rem 1rem
    }
    nav ul#primary-nav{
        display:flex;
        margin-left:2vw;
        border-left: 1px solid 
        rgba(0,0,0,0.3);
        padding: 10px;
    }

    main {
        grid-template-columns:24% 50% 24% ;
        grid-template-rows: repeat(3,31%);
        margin:auto;
    }
    
    .hero {
        grid-column:2/3;
        grid-row:1/3;
    }

    .event {
        grid-column:1/2;
        grid-row: 1/2;
    }
    .weather{
        grid-column:1/2;
        grid-row: 2/3;
    }

    .join {
        grid-column:1/2;
        grid-row: 3/4;
    }

    .news {
        grid-column:2/3;
        grid-row: 3/4;
    }

    .main-s {
        grid-column:3/4;
        grid-row:1/4;
        grid-template-rows: repeat(3,32%);
        gap:15px;
    }

    .spotlight1,.spotlight2,.spotlight3{
    grid-column:1/3;
    }

    .spotlight1{
        grid-row:1/2;
    }

    .spotlight2{
        grid-row:2/3;
    }

    .spotlight3{
        display: block;
        grid-row:3/4;
    }


    #footer-flex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:10px;
        justify-content: space-between;
        text-align: left;
        margin: auto;
        padding: 40px;
    }
    
    .foot-logo{
        grid-column: 1/2;
    }

    .name {
        margin-top: -1px;
        grid-column: 2/3;
    }
    
    .address {
        margin-top: -70px;
        grid-column: 2/3;
    }
    
    .email{
        grid-column: 3/4;
        grid-row: 1;
    }
    
    .phone{
        grid-column: 3/4;
        margin-top: -70px;
        
    }

    .map{
        grid-column: 3/4;
        margin-top: -50px;
    }
}