@media only screen and (min-width: 70rem) {
    /* Main page */
    header button {
        display: none;
    }

    /* body {
        font-size:1rem;
    } */
/* 
    #header-flex {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        gap:0px;
    } */
    /* #icons{
        gap:25px;
    } */
    #home-grid{
     font-size: 1.1rem;
    }
    nav ul li a {
        width:10rem;
        padding: 20px;
        border:none;
        border-right: 1px solid rgba(0,0,0,0.3);
        border-left: 1px solid rgba(0,0,0,0.3);
    }
    nav ul#primary-nav{
        display:flex;
        margin-left:2vw;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }

    #home-grid {
        grid-template-columns:1fr 2fr 1fr ;
        /* max-width: 85rem; */
        margin: auto;
        max-width:95%;
        /*margin-bottom: 20px; */
    }

    #banner {
        grid-column:1/4;
        grid-row: 1/2;
        height:4em;
        padding:10px;
    }
    
    .hero {
        grid-column:2/3;
        grid-row:2/4;
    }

    .hero h2 a{
        padding: 15px;
        font-size: 1.6rem;
    }

    picture{
        max-width: 100%;
        max-height: 100%;
        object-fit:contain; 
    }

    .event {
        grid-column:1/2;
        grid-row: 2/3;
    }

    .weather{
        display: flex;
        flex-direction: column;
        grid-column:1/2;
        grid-row: 3/4;
        justify-content: center;
        align-content: center;
    }

    /* .weather img {
        width:100px;
    } */

    .join {
        grid-column:1/2;
        grid-row: 4/5;
    }

    .news {
        grid-column:2/3;
        grid-row: 4/5;
    }

    .main-s {
        grid-column:3/4;
        grid-row:2/5;
        grid-template-rows: repeat(3,32%);
        /* width: 15rem; */
        /* gap:10px; */
        
    }

    .spotlight1,.spotlight2,.spotlight3{
    grid-column:1/3;
    }

    .spotlight1{
        grid-row:1/2;
    }

    .spotlight2{
        grid-row:2/3;
    }

    .spotlight3{
        display: flex;
        grid-row:3/4;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1rem;
        align-content:center;
        overflow-wrap: break-word;
        /* flex-direction: column;
        justify-content: space-evenly;
        align-content: center; */
    }

    /* .spotlight1 img {
        width:150px;
    } */
    
    /* .spotlight2 img {
        width:100px;
    } */

    .spotlight3 img {
        width:150px;
        /* display: block;
        margin: auto; */
    }
    
    .info{
        justify-content: center;
        gap: 25%;
    }

/* Discover page */
    #discover-grid{
        font-size: 1.1rem;
        max-width: 80rem;
        margin: auto;
        max-width:80%;
        /* width: 80%;
        margin: auto; */
        /* margin-bottom: 20px; */
    }

    #demographics img {
        width:auto;
    }

/* Join page */
    #form-grid{
        display: grid;
        grid-template-columns: 50% 50%;
        /* flex-direction: row; */
        justify-content:center;
        align-content: center;
        max-width: 73rem; 
        margin: auto; 
        /* margin-bottom: 20px;  */
    }
    
    /*
    textarea{
        width: 98%;
    }
    */
 
    form label.top input, form label.top select{
        width:95%;
        }
    /*#benefits{
        display: flex;
        flex-direction: column;
        justify-content:center ;
        align-content: center;
        /* align-items: center; */
        /* display: grid;
        flex-direction: column;
        border: solid 1px #2C3546;
        margin-top: -10px;
        align-items: center;
        background-color: #2C3546; 
        padding: 20px;  */
    /*}*/
    
    /* #benefits h1{
        text-align: center;
        color: #2C3546;
    }
    
    #benefits h2{
        color: #FFD600;
    }

    #benefits section:nth-child(2){
        /* border: solid 1px #2C3546; */
        /* background-color: #2C3546; */
        /*margin-top:10px;*/
        /* padding: .5rem 2%; */
        /* padding: 10px; */
    /*}

    /*#benefits section{*/
        /* border: solid 1px #2C3546; */
        /*background-color: #2C3546;*/
        /* margin-top:10px; */
        /* padding: .5rem 2%; */
        /*padding: 10px;*/
    /*}*/

   /* #benefits section ul{
        display: flex;
        flex-direction: column;
        gap:10px;
        color: white;
        font-family:'Roboto', sans-serif;
        max-width:90%;
    } */

    /* #benefits section ul li{
        color: white;
        font-family:'Roboto', sans-serif;
        max-width:90%;
    }  */

/* Directory page */
    /* #directory-grid{
        margin: auto;
    } */
    .contacts{
        grid-template-columns: repeat(3, minmax(320px, 1fr));
        }
    
    .list{
        grid-template-columns:minmax(320px, 1fr);
        }

    .list section{
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        flex-flow: row nowrap;
        text-align: center;
        gap: 10px;
        font-size: 1.2rem;
        padding: 2rem;
    }

    /* img{
        width:100%;
    } */

    /* .buttons button{
        font-size: 2rem;
    } */
    #directory-grid{
        /* max-width: 73rem; */
        max-width: 80%;
        margin: auto;
    }

/* Contact page */

#contact-menu{
    grid-template-columns: 50% 50%;
    justify-content:center;
    align-content: center;
    max-width: 73rem; 
    margin: auto;
}


#contact-info{
    margin-top: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
    /* width: 80%;
    margin: auto; */
}

#contact-info p{
    font-size: 1.2rem;
}


#office{
    grid-column: 2/3;
    grid-row: 2/3;
    /* width: 80%;
    margin: auto; */
}

#office p{
    font-size: 1.2rem;
}

#form2{
    grid-column: 1/2;
    grid-row: 1/3;
}

#form2 legend{
    font-size: 1.3rem;
}

#form2 form fieldset:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    height: 18em;
}

#form2 form textarea{
    height: 18rem;
}

/* #form2 form fieldset:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    height: 16em;
}

#form2 form textarea{
    height: 16rem;
}  */

}
