@media only screen and (min-width: 63rem) {
    /* Main page */
    header button {
        display: none;
    }

    /* body {
        font-size:1rem;
    } */

    #flexing {
        display: flex;
        align-items: center;
        /* justify-content: space-around; */
        padding: 10px;
        gap:0px;
    }
    #icons{
        gap:25px;
    }

    nav ul li a {
        width:10rem;
        padding: 20px;
        border:none;
        border-right: 1px solid rgba(0,0,0,0.3);
        border-left: 1px solid rgba(0,0,0,0.3);
    }
    nav ul#primary-nav{
        display:flex;
        margin-left:2vw;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }

    main {
        grid-template-columns:1fr 2fr 1fr ;
    }

    #banner {
        grid-column:1/4;
        grid-row: 1/2;
        height:4em;
        padding:10px;
    }
    
    .hero {
        grid-column:2/3;
        grid-row:2/4;
    }

    picture{
        max-width: 100%;
        max-height: 100%;
        object-fit:contain; 
    }

    .event {
        grid-column:1/2;
        grid-row: 2/3;
    }

    .weather{
        grid-column:1/2;
        grid-row: 3/4;
    }

    .weather img {
        width:100px;
    }

    .join {
        grid-column:1/2;
        grid-row: 4/5;
    }

    .news {
        grid-column:2/3;
        grid-row: 4/5;
    }

    .main-s {
        grid-column:3/4;
        grid-row:2/5;
        grid-template-rows: repeat(3,32%);
        gap:15px;
        
    }

    .spotlight1,.spotlight2,.spotlight3{
    grid-column:1/3;
    }

    .spotlight1{
        grid-row:1/2;
    }

    .spotlight2{
        grid-row:2/3;
    }

    .spotlight3{
        display: flex;
        grid-row:3/4;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .spotlight1 img {
        width:150px;
    }
    
    .spotlight2 img {
        width:100px;
    }

    .spotlight3 img {
        width:150px;
        display: block;
        margin: auto;
    }
    .info{
        justify-content: center;
        gap: 25%;
    }

/* Discover page */
    #discover-grid{
        font-size: 1.2rem;
        max-width: 73rem;
        margin: auto;
        margin-bottom: 20px;
    }
/* 
    #places img {
        width: 80%;
    }

    #demographics img {
        width: 80%;
    } */

/* Join page */
    #form-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 73rem;
        margin: auto;
        margin-bottom: 20px;
    }

    textarea{
        width: 98%;
    }

    form label.top input, form label.top select{
        width:95%;
        }
    
    #benefits h1{
        display: block;
    }
    #benefits{
        display: grid;
        flex-direction: column;
        border: solid 1px #2C3546;
        margin-top: -10px;
        align-items: center;
        background-color: #2C3546;
        padding: 20px;
    } 

    #benefits h2{
        color: #FFD600;
    }

    #benefits h1{
        text-align: center;
        
    }

    #benefits section{
        border: solid 1px #2C3546;
        background-color: #2C3546;
        padding: .5rem 2%;
    }
    #benefits section ul{
        display: flex;
        flex-direction: column;
        gap: 12px; 
    }

    #benefits section ul li{
        color: white;
        font-family:'Roboto', sans-serif;
        max-width:90%;
    }

/* Directory page */

    .contacts{
        grid-template-columns: repeat(3, minmax(320px, 1fr));
        }
    
    .list{
        grid-template-columns:minmax(320px, 1fr);
        }

    .list section{
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        flex-flow: row nowrap;
        text-align: center;
        gap: 10px;
        font-size: 1.2rem;
        padding: 2rem;
    }

    /* img{
        width:100%;
    } */

    .buttons button{
        font-size: 2.6rem;
    }
    #directory-grid{
        max-width: 73rem;
        margin: auto;
    }

/* Contact page */
    /* #contact-menu{
        display: flex;
        flex-direction:row;
        gap: 20px;
        justify-content: center; 
        margin: auto;
    } */

}
