@media only screen and (min-width: 45rem) {
    /* Main page */
    #head-logo {
        width:6rem;
    }

    header h3{
        font-size: 1.5rem;
    }
    #head-logo {
        width:8rem;
    }
    header button{
        width: 2.5rem;
        height:2.5rem;
        
    }
    
    #facebook, #linkedin{
        width: 2.5rem;
    }

    #banner{
        font-size:16px;
        padding:5px;
        grid-column:1/4;
    }

    .joinbutton {
        bottom:1px;
        right:.5rem;
    }
    

    .hero,.news,.join ,.main-s {
        grid-column: 1/4;
    }


    .news {
        grid-row:3/4;
    }

    .logo-nf{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 10px;
    }
    
    .hero{
        grid-row: 2/3;
    }
    .event{
        grid-row: 6/7;
        grid-column: 1/2;
    }

    .weather {
        grid-row: 6/7;
        grid-column: 2/4;
    }
    
    .join {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        text-align: center;
        grid-row: 5/6;
    }

    .join p{
        text-align: center;
    }
    
    .join h2 a{
        display: block;
        border: 1px solid black;
        text-align: center;
        background:goldenrod;
        border-radius: 15px;
        padding:15px;
    }
    
    .join h2 a:hover{
        background-color: #FFD600;
    }

    .main-s {
        display: grid;
        grid-row: 4/5;
        grid-template-columns:50% 50%;
    }
    
    .info{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;

    }
    .info2{
        display: grid;
        align-items: center;
        justify-items: center;
        text-align: left;
        grid-row: 1/2;
        gap: 5px;
    }

    .info4{
        grid-column: 3/4;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }
    .info3{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        grid-column: 2/3;
    }

/* Discover page */

#discover-grid{
    display: grid;
    /* flex-direction: row;
    justify-content: space-evenly; */
    grid-template-columns:50% 50%;
    justify-content:center;
}

#places{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    align-items: center;
}

#places section{
    background-color:#2C3546;
    padding: 1rem;
    align-items: center;
}

#places img {
display: block;
margin: auto;
width: 85%;
object-fit:cover;
}

#places picture img:hover {box-shadow: 0 0 50px #FFD600;}

/* Join page */

#form-grid{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    text-align: justify;
}

form label.top input, form label.top select{
    width:96.49%;
    }

textarea{
    width: 98.9%;
}

.contacts{
    display: grid;
    grid-template-columns: repeat(2, minmax(320px, 1fr));
}
/* Directory page */
.list {
    display: grid;
    grid-template-columns:minmax(320px, 1fr);
    text-align: left;
}

.buttons{
    display: flex;
    justify-content: end;
    gap: 16px;
    padding-right: 20px;
    margin:0;
}

}