@media only screen and (min-width: 35rem) {
    
    #head-logo {
        width:6rem;
    }
    header button{
        width:3rem;
        height:3rem;
        margin-top:1rem;
    }
    
    #facebook, #linkedin{
        width: 2rem;
        margin-top:1.5rem;
    }

    main {
        display: grid;
        text-align: center;
        grid-template-columns: repeat(2, 25%);
    }
    .hero,.news,.join ,.main-s {
        grid-column: 1/4;
    }

    .joinbutton {
        font-size: 1.5rem;
    }

    .news {
        grid-row:2/3;
    }
    
    .event{
        grid-row: 5/6;
        grid-column: 1/3;
    }

    .weather {
        grid-row: 5/6;
        grid-column: 3/4;
    }

    .join {
        display: block;
        grid-row: 4/5;
    }
    .main-s {
        grid-row: 3/4;
        grid-template-columns:50% 50%;
        gap:5px;
    }
    
    #footer-flex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:10px;
        justify-content: space-between;
        text-align: left;
        margin: auto;
        padding: 10px;
    }
    
    .foot-logo{
        grid-column: 1/2;
    }

    .name {
        margin-top: -1px;
        grid-column: 2/3;
    }
    
    .address {
        margin-top: -70px;
        grid-column: 2/3;
    }
    
    .email{
        grid-column: 3/4;
        grid-row: 1;
    }
    
    .phone{
        grid-column: 3/4;
        margin-top: -70px;
        
    }

    .map{
        grid-column: 3/4;
        margin-top: -50px;
    }

#discover-grid{
    display: grid;
    grid-template-columns:1fr 1fr;
    justify-content:center;
    align-content: center;
}

#places{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#places section{
    background-color:#2C3546;
    padding: 1rem;
}

figcaption{
    color: white;
    font-family:'Roboto', sans-serif;
}

}
