header {
    background-color: #2C3546;
}

#head-logo {
    width:7rem;
}

#foot-logo {
    width:9rem;
}



#facebook, #linkedin{
    width: 2rem;
}


h1,h2,h3,h4 {
    color: white;
    font-family:'Archivo', sans-serif;
}

p,ul li {
    color: rgb(0, 0, 0);
    font-family:'Roboto', sans-serif;
}
footer {
    background-color: #2C3546;
}