main {
	padding:20px;
}
h1,h2,h3,h4 {
    font-family:'Archivo', sans-serif;
	color:#2C3546;
}

p,a{
    font-family: 'Roboto', sans-serif;
	color:#2C3546;
}

img {
    width:80%;
}

nav {
	background-color: #2C3546;
	text-align: center;
	box-shadow: 0 0 30px #333;
	align-items:center
}

nav {
	display: flex;
	flex-direction:column;
	padding:10px;
	margin: 0 auto;
}


nav div {
	flex: 1 1 auto;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 0.9rem;
}

nav a:hover {
	background-color: #FFD600;
	color: #2C3546;

}

footer{
	text-align: center;
	margin: auto;
}